In [42]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import cv2
import numpy as np
import tensorflow as tf

In [33]:
from IPython.display import HTML
HTML('''<script>
code_show_err=false; 
function code_toggle_err() {
 if (code_show_err){
 $('div.output_stderr').hide();
 } else {
 $('div.output_stderr').show();
 }
 code_show_err = !code_show_err
} 
$( document ).ready(code_toggle_err);
</script>
To toggle on/off output_stderr, click <a href="javascript:code_toggle_err()">here</a>.''')

In [34]:
data = pd.read_csv('words.txt', error_bad_lines=False , sep  = " " , header = None)
data.head()

Skipping line 23: expected 9 fields, saw 10
Skipping line 48: expected 9 fields, saw 10
Skipping line 75: expected 9 fields, saw 10
Skipping line 100: expected 9 fields, saw 10
Skipping line 118: expected 9 fields, saw 10
Skipping line 136: expected 9 fields, saw 10
Skipping line 196: expected 9 fields, saw 10
Skipping line 215: expected 9 fields, saw 10
Skipping line 273: expected 9 fields, saw 10
Skipping line 291: expected 9 fields, saw 10
Skipping line 1345: expected 9 fields, saw 10
Skipping line 1421: expected 9 fields, saw 10
Skipping line 1498: expected 9 fields, saw 10
Skipping line 2351: expected 9 fields, saw 10
Skipping line 19778: expected 9 fields, saw 11
Skipping line 19960: expected 9 fields, saw 11
Skipping line 20711: expected 9 fields, saw 11
Skipping line 20743: expected 9 fields, saw 10
Skipping line 20784: expected 9 fields, saw 11
Skipping line 20801: expected 9 fields, saw 11
Skipping line 20822: expected 9 fields, saw 11
Skipping line 20853: expected 9 fields, saw 11
Skipping line 20898: expected 9 fields, saw 11
Skipping line 20930: expected 9 fields, saw 10
Skipping line 20946: expected 9 fields, saw 11
Skipping line 20951: expected 9 fields, saw 10
Skipping line 21001: expected 9 fields, saw 10
Skipping line 21085: expected 9 fields, saw 10
Skipping line 21102: expected 9 fields, saw 11
Skipping line 21162: expected 9 fields, saw 11
Skipping line 21197: expected 9 fields, saw 10
Skipping line 59204: expected 9 fields, saw 11

                0   1    2     3    4    5   6    7     8
0  a01-000u-00-00  ok  154   408  768   27  51   AT     A
1  a01-000u-00-01  ok  154   507  766  213  48   NN  MOVE
2  a01-000u-00-02  ok  154   796  764   70  50   TO    to
3  a01-000u-00-03  ok  154   919  757  166  78   VB  stop
4  a01-000u-00-04  ok  154  1185  754  126  61  NPT   Mr.

In [55]:
X_data = np.zeros((100 , 200*200))
Y_data = []

for i in range(100):
    
    #do not use images with error
    
    if data.iloc[i,-1] == 'err':
        continue
        
    # image id from data frame    
    img_id = data.iloc[i,0]
    
    # address of image 
    id_arr = img_id.split("-")
    img_address = "./words/" + id_arr[0] + "/" +id_arr[0] + "-"+ id_arr[1] +"/" + img_id + ".png"
    
    #loading  image
    img = cv2.imread(img_address , cv2.IMREAD_GRAYSCALE)
    r_img = cv2.resize(img, (200,200), interpolation = cv2.INTER_AREA)
    
    # resizing into 1d array and storing into X_data
    X_data[i] = r_img.reshape(r_img.shape[0]*r_img.shape[1])  
    Y_data.append(data.iloc[i,-1]) #storing label

#     plt.imshow(r_img)
#     plt.show()

Y_data = np.array(Y_data)
print(X_data.shape)
print(Y_data.shape)

(100, 40000)
(100,)